.login {
    overflow: hidden;
}

.loginBox {
    height: 400px;
    width: 600px;
    margin-top: 10%;
    background-color: #101115;
    border-radius: 12px;
}

.titulo {
    background-color: blueviolet;
    height: 60px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 25px;
    border-radius: 4px;
    margin-top: -30px;
}

.inputLogin {
    color: #fff;
    background-color: #17181b;
    border: none;
    height: 45px;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 0%;
    margin-right: 0%;
    outline: 0;
    text-align: center;
}

.inputLogin:hover {
    background-color: blueviolet;
}

.colortexto {
    margin-left: 45%;
    text-align: center;
    color: #fff;
}

.botaoLogin {
    background-color: blueviolet;
    border: none;
    width: 40%;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 2%;
    float: left;
}

.botaoLogin:hover {
    background-color: #9548E1;
}

.botaoCadastro {
    background-color: rgb(35, 172, 243);
    border: none;
    width: 40%;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    margin-top: 5%;
}

.botaoCadastro:hover {
    background-color: #64c4f7;
}